In [1]:
import pandas as pd

In [2]:
batting_df_norm_final = pd.read_csv('data/batting_norm.csv', index_col=0)
batting_df_norm_final[batting_df_norm_final['year'] == 1955].sort_values(by='hr')

,ab,bb,double,g,h,hbp,hr,player_id,r,rbi,sb,sh,so,triple,year
37774,-0.716064,-0.622508,-0.625939,-0.869670,-0.661797,-0.451914,-0.465267,lejafr01,-0.586174,-0.605830,-0.361485,-0.660187,-0.758205,-0.500830,1955
37833,-0.704664,-0.622508,-0.625939,-0.934055,-0.661797,-0.451914,-0.465267,micelmi01,-0.623045,-0.605830,-0.361485,-0.295889,-0.807143,-0.500830,1955
37832,-0.573556,-0.577424,-0.499827,-0.633592,-0.641738,-0.451914,-0.465267,meyerru01,-0.586174,-0.529379,-0.361485,0.068410,-0.317762,-0.500830,1955
37831,-0.613459,-0.442171,-0.625939,0.053179,-0.621679,-0.451914,-0.465267,meyerja01,-0.549302,-0.567604,-0.361485,-0.295889,-0.464576,-0.032196,1955
37829,-0.721765,-0.622508,-0.625939,-0.998440,-0.661797,-0.451914,-0.465267,merrill01,-0.623045,-0.605830,-0.361485,-0.660187,-0.807143,-0.500830,1955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37814,2.116994,4.291685,2.274637,2.006185,2.226712,0.133073,5.152870,matheed01,3.359086,3.254940,0.662028,-0.295889,3.988793,1.842337,1955
37996,2.339306,4.066263,3.661869,2.156416,2.668012,0.133073,5.289898,snidedu01,4.022775,4.592831,2.709052,0.797008,3.450474,2.310971,1955
37473,2.669924,1.406287,3.031309,2.285186,2.868603,0.718061,5.563954,bankser01,2.990371,3.866548,2.709052,-0.660187,2.716402,3.716871,1955
37750,2.761129,2.353058,2.526861,2.263724,3.189549,1.888036,5.975037,kluszte01,3.654059,3.713646,-0.020314,-0.660187,1.150382,-0.500830,1955
37817,2.578719,2.939155,1.644077,2.242263,3.049135,1.888036,6.523148,mayswi01,3.912160,4.248802,7.826614,-0.660187,2.129145,5.591404,1955

In [49]:
# verify that the normalization makes sense - check for good players
batting_df_norm_final.groupby('player_id').sum().drop(columns='year')['hr'].sort_values()[-20:]

player_id
musiast01     64.223510
thomeji01     64.889796
mcgwima01     64.921242
sosasa01      65.726377
mantlmi01     67.205821
pujolal01     68.439584
griffke02     68.891685
schmimi01     70.681344
killeha01     70.978293
jacksre01     71.821274
robinfr02     72.568452
willite01     76.909964
rodrial01     77.095111
gehrilo01     81.381527
mayswi01      82.059074
foxxji01      83.412168
ottme01       84.862388
bondsba01     86.153874
aaronha01     97.603013
ruthba01     157.331629
Name: hr, dtype: float64